@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-text: #0f172a;
  --color-primary: #BAA297;
  --color-background-light: #F9F7F2;
  --color-sand: #f4f2f0;
  --color-warm-grey: #886f63;
  --font-display: "Inter", "sans-serif";
  --font-serif: "Playfair Display", "serif"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #e2e8f0; /* slate-200 */
  border-radius: 0.5rem; /* rounded-lg */
  font-size: 14px;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px #bfdbfe; /* blue-200 */
}