@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-text: #0f172a;
  --color-secondary-text: #475569;
  --color-primary: #BAA297;
  --color-background-light: #F9F7F2;
  --color-sand: #f4f2f0;
  --color-warm-grey: #886f63;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-dm-serif);
  --font-display: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #e2e8f0; /* slate-200 */
  border-radius: 0.5rem; /* rounded-lg */
  font-size: 14px;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px #bfdbfe; /* blue-200 */
}